<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dynamixel_description)/urdf/dynamixel.xacro'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dynamixel_description)/launch/dynamixel.rviz"/>

</launch>

